on:
  push:
    tags:
      - "*"

name: release

jobs:
  compare:
    name: compare
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: "npm ci && npm run prepack"
      - run: "npm diff --diff=$(jq -r '.name' package.json)@$(jq -r '.version' package.json)"
      - run: "[[ -z $(npm diff --diff=$(jq -r '.name' package.json)@$(jq -r '.version' package.json)) ]]"
